<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-2 form-group">
          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" name="title" ngModel required>
        </div>
        <div class="col-sm-6 form-group">
          <label for="description">Description</label>
          <input type="text" id="description" class="form-control" name="description" ngModel required>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <button class="btn btn-success" type="submit">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
